In [111]:
import copy
import pandas
from wordle_solver import wordle_solver

In [96]:
def explore_paths(guess, target, ws):
    sequence = []
    paths = []
    potential_answers = []
    number_words = [len(ws.words)]
    next_step(guess, target, ws, sequence, paths, number_words, potential_answers)
    return potential_answers

def next_step(guess, target, ws, sequence, paths, number_words, potential_answers):
    if guess == target:
        sequence.append(guess)
        paths.append(sequence)
        #if number_words[-1] > 1:
        #    number_words.append(1)
        potential_answers.append(number_words)
    else:
        ws.update_information(word=guess, result=ws.validate_word(guess, target))
        df = ws.get_compatible_word_scores()
        next_guesses = df[df.SumScore == df.SumScore.min()].index.to_list()
        sequence.append(guess)
        number_words.append(len(df))
        for word in next_guesses:
            next_step(word, target, copy.deepcopy(ws), sequence.copy(), paths, number_words.copy(), potential_answers)

In [115]:
first_guess = 'raise'
# targets = wordle_solver().words
targets = ['rebus', 'boost', 'truss', 'siege', 'tiger', 'banal', 'slump', 'crank', 'gorge', 'query', 'drink', 'favor', 'abbey', 'tangy', 'panic', 'solar', 'shire']

potential_answers = []
for target in targets:
    print(target)
    ws = wordle_solver()
    new_potential_answers = explore_paths(first_guess, target, ws)
    for new_potential_answer in new_potential_answers: 
        potential_answers.append(new_potential_answer)
df = pandas.DataFrame(potential_answers)

rebus
boost
truss
siege
tiger
banal
slump
crank
gorge
query
drink
favor
abbey
tangy
panic
solar
shire

In [117]:
df#.fillna(0)

       0    1     2    3    4    5    6
0   2315    2   NaN  NaN  NaN  NaN  NaN
1   2315    2   1.0  NaN  NaN  NaN  NaN
2   2315   17   1.0  NaN  NaN  NaN  NaN
3   2315   13   1.0  NaN  NaN  NaN  NaN
4   2315    5   NaN  NaN  NaN  NaN  NaN
5   2315    5   1.0  NaN  NaN  NaN  NaN
6   2315   26   9.0  1.0  NaN  NaN  NaN
7   2315   26   9.0  5.0  3.0  NaN  NaN
8   2315   26   9.0  5.0  3.0  1.0  NaN
9   2315   26   9.0  5.0  3.0  NaN  NaN
10  2315   26   9.0  5.0  3.0  1.0  NaN
11  2315   26   9.0  5.0  NaN  NaN  NaN
12  2315   26   9.0  5.0  1.0  NaN  NaN
13  2315   91   4.0  NaN  NaN  NaN  NaN
14  2315   91   4.0  1.0  NaN  NaN  NaN
15  2315   91   4.0  1.0  NaN  NaN  NaN
16  2315   91   4.0  1.0  NaN  NaN  NaN
17  2315   80   1.0  NaN  NaN  NaN  NaN
18  2315   78  23.0  5.0  3.0  NaN  NaN
19  2315   78  23.0  5.0  3.0  2.0  NaN
20  2315   78  23.0  5.0  3.0  2.0  1.0
21  2315   78  23.0  5.0  3.0  2.0  NaN
22  2315   78  23.0  5.0  3.0  2.0  1.0
23  2315   78  23.0  5.0  NaN  NaN  NaN
24  2315   78  23.0  5.0  3.0  NaN  NaN
25  2315   78  23.0  5.0  3.0  2.0  NaN
26  2315   78  23.0  5.0  3.0  2.0  1.0
27  2315   78  23.0  5.0  3.0  2.0  NaN
28  2315   78  23.0  5.0  3.0  2.0  1.0
29  2315   78  23.0  5.0  3.0  NaN  NaN
30  2315   78  23.0  5.0  3.0  2.0  NaN
31  2315   78  23.0  5.0  3.0  2.0  1.0
32  2315   78  23.0  5.0  3.0  2.0  NaN
33  2315   78  23.0  5.0  3.0  2.0  1.0
34  2315   78  23.0  5.0  3.0  NaN  NaN
35  2315   78  23.0  5.0  3.0  2.0  NaN
36  2315   78  23.0  5.0  3.0  2.0  1.0
37  2315   78  23.0  5.0  3.0  2.0  NaN
38  2315   78  23.0  5.0  3.0  2.0  1.0
39  2315   40  14.0  3.0  NaN  NaN  NaN
40  2315   40  14.0  3.0  2.0  NaN  NaN
41  2315   40  14.0  3.0  NaN  NaN  NaN
42  2315   40  14.0  3.0  2.0  NaN  NaN
43  2315  102   7.0  2.0  1.0  NaN  NaN
44  2315  102   7.0  3.0  2.0  1.0  NaN
45  2315  102   7.0  3.0  2.0  1.0  NaN
46  2315  102   7.0  2.0  1.0  NaN  NaN
47  2315   28   6.0  1.0  NaN  NaN  NaN
48  2315   26   6.0  1.0  NaN  NaN  NaN
49  2315   69   5.0  1.0  NaN  NaN  NaN
50  2315   91   NaN  NaN  NaN  NaN  NaN
51  2315   14   NaN  NaN  NaN  NaN  NaN
52  2315   21   3.0  NaN  NaN  NaN  NaN
53  2315   21   3.0  1.0  NaN  NaN  NaN
54  2315    2   NaN  NaN  NaN  NaN  NaN
55  2315    2   1.0  NaN  NaN  NaN  NaN