### Sorting words

### A priori score for all words

In [24]:
import pandas
with open('data/a_priori_scores.txt', 'r') as f:
    header = f.readline().replace('#', ' ').split()
    df = pandas.read_table(f, names=header, comment='#', delimiter=r"\s+")
    df.set_index('Word', inplace=True)
df.iloc[:9]

       SumScore  AvgScore
Word
raise    141217    61.001
arise    147525    63.726
irate    147649    63.779
arose    152839    66.021
alter    162031    69.992
saner    162341    70.126
later    162567    70.223
snare    164591    71.098
stare    165047    71.295

### Example

This example shows how to use the solver class to help you solve Wordle puzzles. This example uses the Wordle puzzle from Jan. 16th, 2022

First, we need to load and initialize a solver object.

In [1]:
from wordle_solver import wordle_solver
ws = wordle_solver()

#### First attempt: using the word with the lowest a priori score

A sound strategy is to attempt the word which will, on average, reduce the number of compatible words the most, based on the knowledge Wordle provides. As seen above, a promising candidate is `raise`.

The knowledge provided by Wordle is inputted into the solver object via the `result` keyword using the code
- `'g'`: correct letter (green)
- `'y'`: misplaced letter (yellow)
- `'b'`: incorrect letter (gray/dark)

In [2]:
ws.update_information(word='raise', result='yybyb')
ws.get_compatible_word_scores().iloc[:5]

       SumScore  AvgScore
Word
strap        61  2.904762
scrap        73  3.476190
stray        75  3.571429
straw        79  3.761905
scram        83  3.952381

#### Second attempt: using the word with the lowest score based newly aquired knowledge

The word which will, on average, reduce the number of compatible words the most is `strap`, which we pick as our second attempt.

In [3]:
ws.update_information(word='strap', result='gbygb')
ws.get_compatible_word_scores()

       SumScore  AvgScore
Word
solar         3  1.000000
sonar         3  1.000000
sugar         5  1.666667

#### Third attempt: just got lucky

Now it's just a matter of gut feeling, and we've been lucky this time.

Wordle 211 3/6<br>
游릳游릳拘럻릳拘<br>
游릴拘럻릳游릴拘<br>
游릴游릴游릴游릴游릴

In [4]:
ws.update_information(word='solar', result='ggggg')
ws.get_compatible_word_scores()

       SumScore  AvgScore
Word
solar         1       1.0